{% assign skills = site.data.data.skills %}
{% if skills %}
<section class="skills-section section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
    </span>
    {{ skills.title }}
  </h2>

  <div class="skillset">

    {% for skill in skills.toolset %}
    <span class="project-title">

      {{ skill.type }}
     </span>
      <div>
        <div> <p font-weight: 700>{{ skill.name }}</p>
        </div>
      </div><!--//level-bar-->

    
    {% endfor %}

  </div>

</section><!--//skills-section-->
{% endif %}
